@import url("./global.css");



.departamento{
    font-size: .8rem;
}

.textarea{
    width: 35rem;
    height: 7rem;
}


.spacing{
    --spacing: 0rem;
    margin-bottom: var(--spacing);
}

.motivoPdf{
    display: none;
    width: 35rem;
    text-overflow: clip;
    overflow: hidden;
    white-space: pre-wrap;
    padding: 0 .2rem;
    border: .1rem black solid;
    line-break: normal;
    word-wrap: break-word;
    inline-size: 35rem;
    min-height:7rem;
    height: fit-content;
    overflow: auto;
    
}



.footer{
    font-size: smaller;
    vertical-align: bottom;
}

.invisible-textinput{
    width: 100%;
    min-width: fit-content;
    border: none;
}

