{% extends 'base.html' %}
{% load static %}
{% load auth_extras %}
{% load utils_extras %}
{% block title %}
    Reporte de activos plaqueados
{% endblock title %}
{% if request.user|can_read %}
    {% block content %}
        {% csrf_token %}
        <div id="table-container" class="container py-4">
            <h1 class="ms-5 mb-1 fs-2">{{ title }}</h1>
            <table id="datatable"
                   class="table table-striped table-responsive dynamic-datatable compact table-bordered report-table"
                   width="70vw">
                <thead>
                    <tr>
                        <th class="bg-orange clr-white">Placa</th>
                        <th class="bg-orange clr-white">Zona</th>
                        <th class="bg-orange clr-white">Tipo</th>
                        <th class="bg-orange clr-white">Subtipo</th>
                        <th class="bg-orange clr-white">Marca</th>
                        <th class="bg-orange clr-white">Modelo</th>
                        <th class="bg-orange clr-white">Serie</th>
                        <th class="bg-orange clr-white">Valor</th>
                        <th class="bg-orange clr-white">Garantía</th>
                        <th class="bg-orange clr-white">Detalle</th>
                        <th class="bg-orange clr-white">Estado</th>
                        <th class="bg-orange clr-white">Ingreso</th>
                        <th class="bg-green clr-white">Ubicacion Anterior</th>
                        <th class="bg-green clr-white">Ubicacion</th>
                        <th class="bg-green clr-white">Instalacion</th>
                        <th class="bg-green clr-white">Custodio</th>
                        <th class="bg-indigo clr-white">Tipo de tramite</th>
                        <th class="bg-indigo clr-white">Estado de tramite</th>
                        <th class="bg-teal clr-white">Orden Compra</th>
                        <th class="bg-teal clr-white">Orden Presupuesto</th>
                        <th class="bg-teal clr-white">Decisión Inicial</th>
                        <th class="bg-teal clr-white">Número Solicitud</th>
                        <th class="bg-teal clr-white">Número Procedimiento</th>
                        <th class="bg-teal clr-white">Número Factura</th>
                        <th class="bg-teal clr-white">Proveedor</th>
                        <th class="bg-teal clr-white">
                            Detalles de Ingreso
                        </th>
                        <th class="bg-teal clr-white">
                            Informe Técnico
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr class="{% if row.tramites.last and row.tramites.last.estado != "Finalizado" %}hightlight-row-{{ row.tramites.last.tipo.lower }}{% endif %}">
                            <td>
                                {{ row.placa }}
                            </td>
                            <td>
                                {{ row.ubicacion }}
                            </td>
                            <td>
                                {{ row.tipo }}
                            </td>
                            <td>
                                {{ row.subtipo }}
                            </td>
                            <td>
                                {{ row.marca }}
                            </td>
                            <td>
                                {{ row.modelo }}
                            </td>
                            <td>
                                {{ row.serie }}
                            </td>
                            <td>
                                {{ row.valor }}
                            </td>
                            <td>
                                {{ row.garantia }}
                            </td>
                            <td>
                                {{ row.detalle }}
                            </td>
                            <td>
                                {{ row.estado }}
                            </td>
                            <td>
                                {{ row.fecha_ingreso }}
                            </td>
                            <td>
                                {{ row.ubicacion_anterior.ubicacion }}
                            </td>
                            <td>
                                {{ row.ubicacion.ubicacion }}
                            </td>
                            <td>
                                {{ row.ubicacion.instalacion }}
                            </td>
                            <td>
                                {{ row.ubicacion.custodio }}
                            </td>
                            <td>
                                {% if row.tramites.last %}
                                    {{ row.tramites.last.tipo }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                {% if row.tramites.last %}
                                    {{ row.tramites.last.estado }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                {{ row.compra.numero_orden_compra }}
                            </td>
                            <td>
                                {{ row.compra.origen_presupuesto }}
                            </td>
                            <td>
                                {{ row.compra.decision_inicial }}
                            </td>
                            <td>
                                {{ row.compra.numero_solicitud }}
                            </td>
                            <td>
                                {{ row.compra.numero_procedimiento }}
                            </td>
                            <td>
                                {{ row.compra.numero_factura }}
                            </td>
                            <td>
                                {{ row.compra.proveedor }}
                            </td>
                            <td>
                                {{ row.compra.detalle }}
                            </td>
                            <td>
                                {{ row.compra.informe_tecnico }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock content %}
{% endif %}
{% block script %}
    {% comment %} Este es el archivo javascript que interactua con la tabla, está en la carpeta static/js/table.js {% endcomment %}
    <script src="{% static 'dist/js/reporte.js'%}"></script>
{% endblock script %}
