{% extends 'base.html' %}
{% load static %}
{%block title %}Import{%endblock%}


{%block body %}

<form action="{% url 'api-importar-no-plaqueados' %}" method="POST" enctype="multipart/form-data" class="p-4 ms-6">
     {% csrf_token %}
     {% if message %}   
          <div class="my-3 p-2 d-flex align-items-center message {{error|yesno:"bg-danger, bg-success"}}">
               <p class="form-text text-white p-0 m-0">{{ message }}</p>
          </div>
     {% endif %}

          <a href="{% get_media_prefix %}documents/plantilla_importar_no_plaqueados_2022.xlsx" class="link">Descargar plantilla</a>
     <div class="mb-3">
          <label for="input-file" class="form-label">Ingrese el archivo de excel aquí</label>
          <input id="input-file" name="file" type="file" class="form-control" required>
     </div>

     <div>
          <p class="form-text fw-bold">Notas</p>
          <p class="form-text">El formato para fechas es YYYY-MM-DD ejemplo = 2022-03-28</p>
          <p class="form-text">El nombre de la ubicación tiene que existir en el sistema</p>
     </div>
     <button type="submit" class="btn btn-primary">Submit</button>
    
</form>
{% endblock %}