node_modules

*/node_modules

**/node_modules

./src/backend/node_modules

./src/backend/static/dist

node_modules/*

*/venv

venv/*

venv

.venv

.parcel-cache

*/.parcel-cache

**/.parcel-cache

.env

*/.env

db

./src/static