venv
.env
node_modules
.parcel-cache
.idea

.config
__pycache__
*/**/__pycache__

.mypy_cache

src/backend/static/css/
src/backend/static/js/

src/static/*
src/static

.vscode
.vscode/*
!tasks.json

./error.log
./info.log
