.page-container {
	/* width: 100%;
    height: 100%; */

	padding: 0;
	display: flex;
	justify-content: center;
}

.pdf-container {
	button {
		color: $white;
	}
	margin-bottom: 2rem;
}

.table-wrapper,
.pdf-notes {
	padding-left: 2rem;
	padding-right: 2rem;
}
