{% extends "base.html" %}
{% load static %}

{% block body %}
    {% csrf_token %}
    <div class="container w-50 my-4">
        <div class="row header-controls justify-content-center flex-column align-items-center gap-4">
            {{ form.tramite }}
            <button class="btn btn-secondary col-2" data-action="load">Cargar traslado</button>
            <button class="btn btn-primary col-2" data-action="pdf">Guardar pdf</button>
        </div>
    </div>
    {% include "components/pdfHeader.html" %}
    <div class="pdf-container container mt-3">
        <div class="row body-row gap-4 justify-content-center">
            <div class="row justify-content-center gap-4">
                <h3 class="text-uppercase text-center">Traslado de Activos</h3>
                <div class="row">
                    <label for="{{ form.consecutivo.id_for_label }}" class="col-md-2 fw-bold">
                        Consecutivo:
                    </label
                    >
                    {{ form.consecutivo }}
                    <label for="{{ form.fecha.id_for_label }}" class="col-md-1 fw-bold me-2">Fecha:</label>
                    {{ form.fecha }}
                </div>
                <div class="row w-75">
                    <label for="{{ form.recipiente.id_for_label }}"
                           class="col-md-1 fs-6 text-secondary">
                        Para:
                    </label
                    >
                    {{ form.recipiente }}
                    <label for="{{ form.remitente.id_for_label }}"
                           class="col-md-1 fs-6 text-secondary">
                        De:
                    </label
                    >
                    {{ form.remitente }}
                </div>
            </div>
            <div class="row justify-content-center">
                <label for="{{ form.motivo.id_for_label }}" class="text-center">
                    Motivo o Observaciones
                </label
                >
                {{ form.motivo }}
                <div id="motivo_for_pdf" class="motivoPdf"></div>
            </div>
            <div class="row justify-content-center controls">
                <label for="{{ form.placa.id_form_label }}"
                       class="col-md-auto fs-6 text-secondary">
                    Placa:
                </label
                >
                {{ form.placa }}
                <button data-action="add_placa" class="btn btn-primary col-2 fs-6">Añadir placa</button>
                <label for="activo-serie-select" class="col-md-auto fs-6 text-secondary">
                    Serie:
                </label
                >
                {{ form.serie }}
                <button data-action="add_serie" class="btn btn-primary col-2 fs-6">Añadir serie</button>
            </div>
            <div class="row" data-spacing="3">
                <table id="activos-table" class="table table-striped table-responsive mb-5">
                </table>
            </div>

            <div class="row justify-content-center controls gap-2">
                <button data-action="add" data-target="3" class="col-2 h-fit btn btn-primary">Añadir espacio</button>
                <button data-action="substract" data-target="3" class="col-2 h-fit btn btn-secondary">Reducir espacio</button>
            </div>

            <div class="spacing row justify-content-between">
                <div class="col d-flex-inline flex-column text-center">
                    <p>-------------------------------------</p>
                    <p>Firma y Sello ATIC Entrega Activo</p>
                </div>
                <div class="col d-flex-inline flex-column text-center">
                    <p>-------------------------------------</p>
                    <p>Firma y Sello Recibe Activo</p>
                </div>
            </div>
            <div class="row justify-content-center" data-spacing="1">
                <div class="col d-flex-inline flex-column text-center">
                    <p>-------------------------------------</p>
                    <p contenteditable>{{ config.TITULO_ATIC }} {{ config.NOMBRE_ATIC }} - {{ config.CARGO_ATIC }}</p>
                </div>
            </div>
            <div class="row justify-content-center controls gap-2">
                <button data-action="add" data-target="1" class="col-2 h-fit btn btn-primary">Añadir espacio</button>
                <button data-action="substract" data-target="1" class="col-2 h-fit btn btn-secondary">Reducir espacio</button>
            </div>
            <div class="row" data-spacing="2">
                <div class="col">
                    <p contenteditable>
                        Cc: {{ config.TITULO_ENCARGADO_BIENES }}
                        {{ config.NOMBRE_ENCARGADO_BIENES }}, {{ config.CARGO_ENCARGADO_BIENES }}
                    </p>
                </div>
            </div>
            <div class="row justify-content-center controls gap-2">
                <button data-action="add" data-target="2" class="col-2 h-fit btn btn-primary">Añadir espacio</button>
                <button data-action="substract" data-target="2" class="col-2 h-fit btn btn-secondary">Reducir espacio</button>
            </div>
        </div>
    </div>
    <div class="container justify-content-center my-4">
        <div class="row justify-content-center">
            <button data-action="subir-traslado" class="btn btn-primary col-6">Subir traslado</button>
        </div>
    </div>
{% endblock body %}
{% block script %}
    <script language="javascript">
	const tramitesView = "{% url 'tramites-list'%}";
	const plaqueadosView = `{% url 'plaqueados-list' %}`;
    const noPlaqueadosView = `{% url 'no_plaqueados-list' %}`
	const trasladosView = `{% url 'traslados-list'%}`;
	const destinoSelect = `{{form.destino}}`;
	const userId = "{{request.user.id}}";
    </script>
    <script src="{%static 'dist/js/generar/globals.js'%}"></script>
    <script src="{%static 'dist/js/generar/traslados.js'%}"></script>
{% endblock script %}

