#table-container {
	margin-bottom: 4rem;
	.dataTables_wrapper {
		margin: 0 2rem 0 2rem;
	}
}

.dt-button.disabled {
	display: none;
}
table {
	.sorting_disabled {
		&::after,
		&::before {
			display: none !important;
		}
	}
	td {
		font-size: 0.9rem;
		border-right: 1px solid rgb(139, 139, 139);

		&.select-column {
			input {
				margin: auto;
				display: block;
				width: 1rem;
				height: 1rem;
			}
		}
	}

	.detail-table {
		padding-left: 50px;
		width: 100%;
		table-layout: auto;

		tbody {
			width: fit-content;
		}
	}

	.detail-row {
		width: fit-content;
		.detail-title {
			width: 1px;
		}
		.detail-data {
			word-wrap: break-word;
			word-break: break-all;
			white-space: break-spaces;
		}
	}
}
