*, *::after, *::before{
    box-sizing: border-box;
}

body{
    background-color: rgb(237, 237, 237);
    margin: 0;
    padding: 0;
}


.text-white{
    color: azure;
}

.message{
    width: fit-content;
}

.dynamic-datatable tr td {
    max-width: 15rem;
 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.border-none{
    border: none;
}

.plaqueadosTextarea{
    height: 8rem;
}
.detalles-textarea{
    height: 7rem;
    padding-left: .4rem;
}
 