.btn-add{
    --btn-color: #1976D2;
    background-color: var(--btn-color)!important;
    border-color: var(--btn-color);
    color: white;
}
.btn-export-visibles{
    --btn-color: #388E3C;
    background-color: var(--btn-color)!important;
    border-color: var(--btn-color);
    color: white;
}

.btn-export-all{
    --btn-color: #FBC02D;
    background-color: var(--btn-color)!important;
    border-color: var(--btn-color);
    color: white;
}
 
.btn:hover{
    color: white;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));

}

.odd{
    
}  

.even{
  
}

td{
    font-size: .9rem;
    border-right: 1px solid rgb(139, 139, 139);
}

.detail-table{
    padding-left: 50px;
    width: 100%;
    table-layout:auto;
}

.detail-table tbody{
    width: fit-content;
}
.detail-row{
    width: fit-content;
}
.detail-row td{
    max-width: fit-content !important;
    white-space: break-spaces !important;
    overflow:visible !important;
     
}
