{% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'dist/css/components/nav.css'%}" />
{% endblock head %}
<nav
	id="dashboard_navbar"
	class="d-flex flex-column flex-shrink-0 p-3 text-dark sidenav"
>
	<div class="d-flex nav-header">
		<a
			href="/"
			class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none logo"
		>
			<span class="fs-4 text-light">ATIC</span>
		</a>

		<button class="toggle-btn">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="30"
				height="30"
				fill="#ededed"
				class="bi bi-list"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
				/>
			</svg>
		</button>
	</div>

	<hr />
	<ul class="nav nav-pills flex-column mb-auto">
		{% comment %} ACTIVOS DROPDOWN {% endcomment %}
		<li class="nav-item dropend dropdown">
			<a
				class="nav-link dropdown-toggle"
				href="#"
				id="activos-dropdown"
				role="button"
				data-bs-toggle="dropdown"
				aria-expanded="false"
			>
				Activos
			</a>
			<ul
				class="dropdown-menu dropdown-menu-light"
				aria-labelledby="activos-dropdown"
			>
				<li>
					<a class="dropdown-item" href="{%url 'plaqueados'%}">Plaqueados</a>
				</li>

				<li>
					<a class="dropdown-item" href="{%url 'no_plaqueados'%}"
						>No Plaqueados</a
					>
				</li>
			</ul>
		</li>
		{% comment %} REPORTES DROPDOWN {% endcomment %}
		<li class="nav-item dropend dropdown">
			<a
				class="nav-link dropdown-toggle"
				href="#"
				id="reportes-dropdown"
				role="button"
				data-bs-toggle="dropdown"
				aria-expanded="false"
			>
				Reportes
			</a>
			<ul
				class="dropdown-menu dropdown-menu-light"
				aria-labelledby="reportes-dropdown"
			>
				<li>
					<a class="dropdown-item" href="{%url 'tramites'%}">Tramites</a>
				</li>
			</ul>
		</li>
		{% comment %} ADMINISTRACION DROPDOWN {% endcomment %}
		<li class="nav-item dropend dropdown">
			<a
				class="nav-link dropdown-toggle"
				href="#"
				id="reportes-dropdown"
				role="button"
				data-bs-toggle="dropdown"
				aria-expanded="false"
			>
				Administración
			</a>
			<ul
				class="dropdown-menu dropdown-menu-light"
				aria-labelledby="reportes-dropdown"
			>
				<li>
					<a class="dropdown-item" href="{%url 'funcionarios'%}"
						>Funcionarios</a
					>
				</li>
				<li>
					<a class="dropdown-item" href="{%url 'ubicaciones'%}">Ubicaciones</a>
				</li>
			</ul>
		</li>
		{% comment %} GENERAR DROPDOWN {% endcomment %}
		<li class="nav-item dropend dropdown">
			<a
				class="nav-link dropdown-toggle"
				href="#"
				id="generar-dropdown"
				role="button"
				data-bs-toggle="dropdown"
				aria-expanded="false"
			>
				Generar
			</a>
			<ul
				class="dropdown-menu dropdown-menu-light mr-auto"
				aria-labelledby="generar-dropdown"
			>
				<li>
					<a class="dropdown-item" href="{% url 'generar-traslados'%}"
						>Generar traslado</a
					>
				</li>
			</ul>
		</li>
		{% comment %} IMPORTAR DROPDOWN {% endcomment %}
		<li class="nav-item dropend dropdown">
			<a
				class="nav-link dropdown-toggle"
				href="#"
				id="generar-dropdown"
				role="button"
				data-bs-toggle="dropdown"
				aria-expanded="false"
			>
				Importar
			</a>
			<ul
				class="dropdown-menu dropdown-menu-light mr-auto"
				aria-labelledby="generar-dropdown"
			>
				<li>
					<a class="dropdown-item" href="{% url 'importar-activos'%}"
						>Importar activos plaqueados</a
					>
				</li>
				<li>
					<a class="dropdown-item" href="{% url 'importar-no-plaqueados'%}"
						>Importar activos no plaqueados</a
					>
				</li>
			</ul>
		</li>

		{% comment %} ----------------------- {% endcomment %}
	</ul>
	<a href="" class="mb-4 logout">Logout</a>
</nav>

<script src="{% static 'dist/js/nav.js'%}" defer></script>
