 
 body{
   overflow-x: hidden !important;
 }
 .login_container{
    height: 100vh;
 }

 .login_form{
    display: flex;
    flex-direction: column;
   
 }

 .login_form > input {
    width: 20rem;
    padding: .2rem;
 }

 .nota_form{
    color: gray;
    font-size: smaller;
 }

 .form_side{
  
    height: 100vh;

    background-color: #005da4;
    animation: fade-in 0.9s ease-in-out 1 both;
 }

@keyframes fade-in {
   0%{
      opacity: 0;
   } 
   100%{
      opacity: 1;

   }
}
 
 .login_img{
    width: 30rem;
 }
 .errorlist{
    width: 30rem;
    list-style: none;
    text-align: center;
    color: rgb(221, 37, 37);
 }