.pdf-container{
    max-width: 50rem;
    background-color: white;
    border: .3rem solid black;
}

.pdf-container.export{
    border: none;
    margin: 0;
    padding: 0;
}
.pdf-container.export .controls{
    display: none;
}
.identificador-container{
    border-right: .1rem solid black;

    padding: 1rem;
}
.identificador{
    width: 100%;
    height: 100%;    
}

.header-row{
    border-bottom: .1rem solid black;
}
.departamento{
    font-size: .8rem;
}

.textarea{
    width: 35rem;
    height: 7rem;
}

.h-fit{
    height: fit-content;
}

.spacing{
    --spacing: 0rem;
    margin-bottom: var(--spacing);
}

.select2-container{
    max-width: fit-content !important;
    min-width: 12rem;
}

.motivoPdf{
    display: none;
    width: 35rem;
    height: 7rem;
    text-overflow: clip;
    overflow: hidden;
    white-space: pre-wrap;
    padding: .2rem;
    border: .1rem black solid;
    line-break: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    inline-size: 35rem;
    min-height:max-content;
}