*, *::after, *::before{
    box-sizing: border-box;
}

body{
    background-color: rgb(237, 237, 237);
    margin: 0;
    padding: 0;
}


.text-white{
    color: azure;
}

.message{
    width: fit-content;
}